apiVersion: v1
kind: Service
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: scaleset-controller
spec:
  selector:
    control-plane: controller-manager
    app.kubernetes.io/name: scaleset-controller
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8443
