# https://go.dev/security/vuln
name: govulncheck

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Use the Go toolchain installed by setup-go
  # https://github.com/actions/setup-go/issues/457
  #
  # TODO(govulncheck): Remove when "golang/govulncheck-action" uses "actions/setup-go" v6 or newer
  GOTOOLCHAIN: local

jobs:
  vulnerabilities:
    permissions:
      security-events: write

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      # Install Go and produce a SARIF report. This fails only when the tool is
      # unable to scan.
      - name: Prepare report
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1
        with:
          output-file: 'govulncheck-results.sarif'
          output-format: 'sarif'
          repo-checkout: false

      # Submit the SARIF report to GitHub code scanning. Pull request checks
      # succeed or fail according to branch protection rules.
      # - https://docs.github.com/en/code-security/code-scanning
      - name: Upload results to GitHub
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4
        with:
          sarif_file: 'govulncheck-results.sarif'

      # Print any detected vulnerabilities to the workflow log. This step fails
      # when the tool detects a vulnerability in code that is called.
      # - https://go.dev/blog/govulncheck
      - name: Log results
        run: govulncheck --format text --show verbose ./...